title {
  background-color: #80e6ff;
  text-align: center;
}

h1 {
  background-color: #80e6ff;
  padding: 10px;
  text-align: center;
}

main {
  text-align: center;
}

nav {
  color: #80e6ff;
  text-align: center;
}

nav a:hover {
  background-color: rgb(94, 57, 241);
  color: black;
}

footer {
  background-color: #80e6ff;
  padding: 10px;
  text-align: center;
}
