title {
  background-color: #80e6ff;
  text-align: center;
}

h1 {
  background-color: #80e6ff;
  padding: 10px;
  text-align: center;
}

main.intro {
  text-align: center;
}

main.buttons {
  text-align: center;
  border: 2px solid rgb(46, 110, 40);
  border-radius: 4px;
  padding: 2px;
}

nav {
  color: #80e6ff;
  text-align: center;
}

nav a:hover {
  background-color: rgb(94, 57, 241);
  color: black;
}

footer {
  background-color: #80e6ff;
  padding: 10px;
  text-align: center;
}
